h1
{
    font-size: 20px;
border-bottom: 1px solid black;
margin-top: 40px;
padding-bottom: 8px;
display: flex;
align-items: center;
}

li
{
    margin-bottom: 20px;
}

.container
{
    width: 500px;
    margin:40px auto;
}

.kintai-table {
    width: 100%;
    border-collapse: collapse;
}

.kintai-table td, .kintai-table th {
    border: 1px solid black;
    padding: 8px;
}

.button{
    font-size: 12px;
    border: 1px solid;
    border-radius: 3px;
    padding: 3px 10px;
    text-decoration: none;

}

#create{
    background-color: aqua;
    margin-left: auto;
}

#edit{
    background-color: aqua;
    margin-left: auto;
}

#search{
    background-color: orange;
    margin-left: 10px;
}




input, textarea{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn{
    text-align: right;
}

.error{
    color: red;
    font-size: 15px;
    margin-bottom: 10px;
}

button{
    vertical-align:  2px;
    margin-top: 20px;
}

h2{
    font-size: 18px;
    margin-top: 10px;

}

.comment{
    display: flex;
}

.comment button{
    width:90px;
    height: 30px;
}

.dele{
    display: inline-block;
}

.loginjouhou{
    text-align: end;
    margin-right: 0;
    margin-left: auto;
}

.smalltitle{
    display: flex;
}

.loginjouhou p
{
    font-size: 12px;
}

